.hero,
.content,
.footer {
    width: 100%;
}

.hero-container{
    display: inline-block;
    width: 600px;
    margin: 0 calc(50% - 300px);

}



.content-container{
    display:inline-block;
    width: 800px;
    margin: 0 calc(50% - 400px);
}


.leftBlock{
    background-color: bisque;
    float: left;
    width: 50%;
    margin-right: 5%;
}

.rightBlock{
    background-color: aqua;
    float:left;
    width: 45%;
    
}

.socials {
    width: 800px;
    margin: 0 calc(50% - 400px);
    display:inline-block;
}

.footer-container{
    display: inline-block;
    width: 600px;
    margin: 0 calc(50% - 300px);
}

@media (max-width: 900px) {
    .content-container,
    .socials{
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
}

@media (max-width: 700px) {
    .hero-container,
    .content-container,
    .footer-container,
    .socials{
        width: 400px;
        margin: 0 calc(50% - 200px);
    }
}

@media (max-width: 500px) {
    .content-container,
    .hero-container,
    .footer-container,
    .socials{
        width: 320px;
        margin: 0 calc(50% - 160px);
        padding: 10px;
    }
}

@media (max-width: 360px) {
    .content-container,
    .hero-container,
    .footer-container,
    .socials{
        width: 100%;
        margin: 0;
        padding: 20px;
    }
}