:root{
    --small-full-width: 600px;
    --small-full-margin: calc((100% - var(--small-full-width)) / 2);

    --big-full-width: 1000px;
    --big-full-margin: calc((100% - var(--big-full-width)) / 2);

    --clock-digit-size: 67px;
    --clock-position: absolute;


    --header-margin-y: 20px;
    --h2-padding-top: 60px;

    --left-block-position: left;
    --left-block-width: 50%;

    --right-block-position: right;
    --right-block-width: 40%;

    --form-name-width: 46%;
    --form-email-width: 46%;
}