.form > * {
    margin-bottom: 20px;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form > input{
    width: 45%;
}



.form > input:last-of-type{
    float: right;
}

.form >input:last-child{
    background-color: red;
}

.form> textarea {
    width: 100%;
    
}