.mouse {
  display: inline-block;
  text-align: center;
  font-size: 1.2px;
  width: 24em;
  height: 40em;
  border: 3.5em solid #fff;
  border-radius: 12em;
}

.mouse > .wheel {
  display: inline-block;
  width: 3.5em;
  height: 5.5em;
  margin-top: 6em;
  background-color: white;
  border-radius: 1.7em;
  animation-name: mouseAnimation;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
}

@keyframes mouseAnimation {
  0% {
    margin-top: 6em;
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 22em;
    opacity: 0;
  }
}
