.progress-bars{
    width:100%;
    background-color:tomato;
}

.progress-row{
   background-color: violet;
   position:relative;
   margin: 10px 10px;

}



.progress-row > .completed-bar{
    height: 3px;
    width: 70%;
    background-color: rgb(75, 45, 247);
    position: absolute;
    left: 0;
    bottom: 1px;
    z-index: 1;
}

.progress-row > .completed-bar > .progress-percent{
    position: absolute;
    bottom:0;
    right: 0;
}

.progress-row > .grey-bar{
    height: 3px;
    width: 100%;
    background-color: #aaa;
    position: absolute;
    left: 0;
    bottom: 0;
}