.progress-bars{
    width:100%;
    /* background-color:tomato; */
}

.progress-row{
   /* background-color: violet; */
   position:relative;
   margin-bottom: 20px;

}

.progress-row > .progress-title {
    padding-bottom: 10px;
}


.progress-row > .completed-bar{
    height: 3px;
    width: 70%;
    background-color: #24B2F5;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.progress-row > .completed-bar > .progress-percent{
    position: absolute;
    bottom:10px;
    left: 100%;
}

.progress-row > .grey-bar{
    height: 3px;
    width: 100%;
    background-color: #EDEDED;
    position: absolute;
    left: 0;
    bottom: 0;
}