/* base */
@import '../base/reset.css';
@import '../base/variables.css';
@import '../base/layout.css';

/* 3rd party */


/* components */

/* @import '../components/button.css'; */
@import '../components/clock.css';
/* @import '../components/form.css'; */
@import '../components/mouse.css';
/* @import '../components/progress-bar.css'; */


/* custom style below */

.hero{
    background-color: var(--bg-color);
}

.hero > .row-short {
    text-align: center;
}

.logo{

}

.main-title{

}

.main-description{

}

.footer {
    background-color: var(--bg-color);
}

.socials{
    background-color: chartreuse;
}